/* styles.css */

body {
    font-family: 'Lato', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

.resume {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

header {
    text-align: center;
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
    margin-bottom: 20px;
    position: relative;
}

header .profile-img {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

header h1 {
    font-family: 'Merriweather', serif;
    margin: 0;
    font-size: 2.5em;
    color: #333;
    margin-top: 0;
    padding-top: 20px;
}

header p {
    margin: 5px 0;
    font-size: 1.2em;
}

.contact-info {
    margin: 15px 0;
}

.contact-info a {
    color: #333;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
}

.contact-info a:hover {
    text-decoration: underline;
}

section {
    margin-bottom: 20px;
    padding: 10px;
    background: #f9f9f9;
    border-radius: 8px;
}

h2 {
    color: #333;
    font-family: 'Merriweather', serif;
    font-size: 1.8em;
    margin-bottom: 10px;
    margin-top: 0;
}

.job {
    margin-bottom: 20px;
    display: flex;
    align-items: flex-start;
}

.project-logo {
    width: 60px;
    height: 60px;
    margin-right: 15px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.project-details {
    flex: 1;
}

.project-details h3 {
    margin: 0 0 5px;
    font-size: 1.5em;
    color: #555;
}

.education {
    margin-bottom: 20px;
}

h3 {
    margin: 0;
    font-size: 1.5em;
    color: #555;
}

p {
    margin: 5px 0;
}

ul {
    list-style-type: none;
    padding-left: 20px;
}

ul li {
    margin: 10px 0;
    padding-left: 20px;
    position: relative;
}

ul li::before {
    content: "•";
    color: #333;
    font-weight: bold;
    position: absolute;
    left: 0;
}

footer {
    text-align: center;
    font-size: 0.9em;
    color: #777;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #ddd;
}

@media (max-width: 600px) {
    .resume {
        padding: 15px;
    }

    header .profile-img {
        width: 100px;
        height: 100px;
    }

    header h1 {
        font-size: 2em;
    }

    header p {
        font-size: 1em;
    }

    h3 {
        font-size: 1.3em;
    }

    .project-logo {
        width: 50px;
        height: 50px;
    }
}
